<md-toolbar color = "primary" class="md-hue-2">Sourav Pati</md-toolbar>

<div>
    <md-tab-group>
        <md-tab label="Experience">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <p>Mbo Partners (Edmond, OK )</p>
                  <p>Goldman Sachs (NY, NY )</p>
                  <p>AT & T (Seattle , WA , Middletown , NJ)</p>
                  <p>Devon Energy</p>
                  <p>Tata Consultancy Services</p>
                  <p>Wipro Technologies</p>

                </div>
              </md-list-item>
       </md-tab>
        <md-tab label="Technologies">   
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <p>Java</p>
                  <p>Docker</p>
                  <p>SpringBoot</p>
                  <p>Spring REST</p>
                  <p>Elasticsearch</p>
                  <p>Angular4</p>
                  <p>Angular Material Design</p>

                </div>
              </md-list-item>
        </md-tab>
      </md-tab-group>
</div>