<md-toolbar color="primary">
    Sourav Pati
</md-toolbar>

             <div class = "mdl-layout mdl-js-layout mdl-layout--fixed-header">
              <main class = "mdl-layout__content">         
                 <div class = "mdl-grid">
                             <div class = "mdl-cell mdl-cell--3-col mdl-cell--4-col-phone">
                                <md-list>
                                    <md-list-item>
                                            <a href=" https://github.com/spati-java"> 
                                                <button md-icon-button color="primary">
                                                    <img src="assets/GitHub-Mark-32px.png">
                                                    GITHUB </button> </a>
                                    </md-list-item>
                                    <md-list-item>  
                                        <span><a href="https://www.facebook.com/sourav.pati"> 
                                             <button md-icon-button color="primary">
                                                <img src="assets/if_facebook_circle_color_107175.png">
                                                FACEBOOK
                                                 </button></a>
                                        </span> 
                                    </md-list-item>
                                    
                                </md-list>
                                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="sourav-pati-a2909228"><a class="LI-simple-link" href='https://www.linkedin.com/in/sourav-pati-a2909228?trk=profile-badge'>Sourav Pati</a></div>    
                            
                            </div>
                    <div class = "mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet ">
                      <home></home>
                    </div>
                    <!--<div class = "mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet graybox">
                       4 on desktop, 6 on tablet</div>-->
                 </div>
              </main>
           </div>
    

  
