<div> 

   <md-tab-group>
      <md-tab label="Work Experience">

            <md-accordion multi="true" *ngFor="let company of data?.companies">
                    <md-expansion-panel>
                            <md-expansion-panel-header>
                              <md-panel-title>
                                      {{company.name}}, ({{company.address.city}} ,{{company.address.state}}) 
                              </md-panel-title>
                            </md-expansion-panel-header>
                                <div *ngFor="let proj of company.projects "> 
                                        <md-panel-description>
                                                 Enviornment : {{proj.environment }}
                                        </md-panel-description>
                                                <span>
                                                      <h6>Project Description</h6> 
                                                </span>
                                              <p>
                                                      {{proj.description}}
                                              </p> 
                                      </div> 
                          </md-expansion-panel>
            </md-accordion>

          <md-list-item > 
              
          </md-list-item>  
     </md-tab>
      <md-tab label="Technologies">  

<div *ngFor="let tech of data?.technologies" >
        <md-card>
                <md-card-title-group>
                <md-card-title >{{tech.name}} </md-card-title>
                <md-card-subtitle>Version : {{tech.version}}</md-card-subtitle>
                <md-card-content> <font color="#FF3F80"> {{tech.yearsOfExp}} Years</font></md-card-content>
                </md-card-title-group>
        </md-card> 
</div>
  </md-tab>
      <md-tab label="Education">   
                <div id = "card-container">
                  <md-card>
                      <md-card-title> <font size="4">M.S. ( Computer Science ) 2012-2014 </font></md-card-title>
                      <md-card-subtitle color="primary"> <a href="http://umich.edu/">University of Michigan </a></md-card-subtitle>
                    </md-card>
              </div>
              <div class="md-list-item-text">
                  <md-card>
                    <md-card-title-group>
                      <md-card-title> <font size="4">B.E. ( Electronics ) 2001-2005 </font></md-card-title>
                      <md-card-subtitle> <a href="http://www.bput.ac.in/home.html">Biju Patnaik Univerity of Technology</a></md-card-subtitle>
                    </md-card-title-group> 
                    </md-card>
              </div> 
      </md-tab>

      <md-tab label="Publication">   
          <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                    <md-card>
                        <md-card-subtitle>                         
                        Monitoring and Managing Cloud Computing Security using Denial of Service Bandwidth Allowance </md-card-subtitle>
                        <md-action-row>
                            <a href="http://www.ingentaconnect.com/content/ben/cseng/2013/00000006/00000001/art00009"> 
                          <button md-fab>Ingenta</button> </a>
                        </md-action-row>
                    </md-card>
              </div>
              <div class="md-list-item-text">
                  <md-card>
                        <md-card-subtitle>Intelligent gateway for SCADA system security: A multi-layer attack prevention approach</md-card-subtitle>
                        <md-action-row>
                            <a href="http://ieeexplore.ieee.org/abstract/document/7158627/">
                            <button md-fab>IEEE</button></a>
                          </md-action-row>
                  </md-card>
            </div>
            </md-list-item>
      </md-tab>
    </md-tab-group>
</div>