<div>  
<md-tab-group>
      <md-tab label="Work Experience">
          <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                          <expansion-panels-container>
                              <expansion-panel>
                                  <expansion-panel-title>
                                     Mbo Partners (Edmond , OK)
                                  </expansion-panel-title>
                                  <expansion-panel-content>
                                      We develop apis to serve our business models such as asscoaite payroll , business center , 
                                      bank account , invoicing , expenses .
                                  </expansion-panel-content>
                                </expansion-panel>
                              </expansion-panels-container>
                          <expansion-panels-container>
                              <expansion-panel>
                                  <expansion-panel-title>
                                     Goldman Sachs (NY , NY)
                                  </expansion-panel-title>
                                  <expansion-panel-content>
                                     Built web app similar to linked in 
                                  </expansion-panel-content>
                                </expansion-panel>
                              </expansion-panels-container>

                              <expansion-panels-container>
                                  <expansion-panel>
                                      <expansion-panel-title>
                                         AT & T
                                      </expansion-panel-title>
                                      <expansion-panel-content>
                                         Worked on a maitenance project using spring MVC
                                      </expansion-panel-content>
                                    </expansion-panel>
                                  </expansion-panels-container>
    

              </div>
            </md-list-item>
     </md-tab>
      <md-tab label="Technologies">  
       
          <md-list>
              <md-list-item >
                <h3 mdLine> Java </h3>
                <p mdLine>
                  <span> 10 years </span>
                </p>
              </md-list-item>

              <md-list-item >
                  <h3 mdLine> Elasticsearch </h3>
                  <p mdLine>
                    <span> 2 years </span>
                  </p>
                </md-list-item>

                <md-list-item >
                    <h3 mdLine> SQL </h3>
                    <p mdLine>
                      <span> 4 years </span>
                    </p>
                  </md-list-item>

                <md-list-item >
                    <h3 mdLine> Docker </h3>
                    <p mdLine>
                      <span> 1 year </span>
                    </p>
                  </md-list-item>

                  <md-list-item >
                      <h3 mdLine> SpringBoot </h3>
                      <p mdLine>
                        <span> 2 years </span>
                      </p>
                    </md-list-item>

                  <md-list-item >
                      <h3 mdLine> REST Apis </h3>
                      <p mdLine>
                        <span> 2 years </span>
                      </p>
                    </md-list-item>
  


            </md-list>
      </md-tab>

      <md-tab label="Education">   
          <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                    <p>M.S. ( Computer Sceince) 2012-2014</p>
                    <p>
                      <span>
                        <a href="http://umich.edu/">University of Michigan </a>
                      </span>

                    </p>
              </div>
              <div class="md-list-item-text">
                  <p>B.E. ( Electronics And Telecommunication Engineering) 2001-2005</p>
                  <p>
                      <span>
                      <a href="http://www.bput.ac.in/">Biju Patnaik Univerity of Technology</a>
                    </span>

                  </p>
            </div>
            </md-list-item>
      </md-tab>

      <md-tab label="Publications">   
          <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                    <p>
                      <span>
                        <a href="http://www.ingentaconnect.com/content/ben/cseng/2013/00000006/00000001/art00009">Monitoring and Managing Cloud Computing Security using Denial of Service Bandwidth Allowance</a>
                      </span>

                    </p>
              </div>
              <div class="md-list-item-text">
                  <p>
                      <span>
                        <a href="http://ieeexplore.ieee.org/abstract/document/7158627/">Intelligent gateway for SCADA system security: A multi-layer attack prevention approach</a>
                      </span>

                    </p>
            </div>
            </md-list-item>
      </md-tab>


    </md-tab-group>
</div>