.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

md-card {
max-width: 300px;
margin: 4px;
}

.social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
